<!doctype html>
<html lang="cs">
<head>
	<meta charset="utf-8">

	<title>{% block title %}Demagog.cz &mdash; Factcheck politických diskuzí{% endblock %}</title>
	<meta name="author" content="Demagog.cz" >
	<meta name="web_author" content="Demagog2 Dev Team — github.com/Demagog2">
	<meta name="author" content="Demagog.cz" >
	<meta name="description" content="Politici operují s informacemi, které jsou zkreslené, účelově vytrhávané z původních kontextů, neúplné anebo přímo lživé. Moderátor o tom často nevědí, protože jim chybějí informace a nedokážou efektivně a jednoznačně oponovat. Projekt Demagog.cz má za cíl kontrolu těchto tvrzení.">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./static/css/frontend.css">
	<!--[if IE 8]><link rel="stylesheet" href="./static/css/ie8-grid-foundation-4.css" type="text/css" media="screen" ><![endif]-->

	<link href="http://fonts.googleapis.com/css?family=Oswald:400,700,300&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="./static/css/glyphicons/css/glyphicons.css">

	<link rel="shortcut icon" href="./static/images/favicon.png" type="image/x-icon" />
	<link rel=”apple-touch-icon” href="./static/images/apple-icon.png">

	<meta property="og:title" content="Demagog.cz">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.demagog.cz">
	<meta property="og:image" content="http://www.demagog.cz/static/images/apple-touch-icon.png">
	<meta property="og:site_name" content="Demagog.cz">
	<meta property="fb:admins" content="">
	<meta property="og:description" content="Politici operují s informacemi, které jsou zkreslené, účelově vytrhávané z původních kontextů, neúplné anebo přímo lživé. Moderátor o tom často nevědí, protože jim chybějí informace a nedokážou efektivně a jednoznačně oponovat. Projekt Demagog.cz má za cíl kontrolu těchto tvrzení.">
</head>
<body>

<header class="row page-header">
	<div class="large-5 columns">
		<a href=".">
			<h1>Demagog.cz</h1>
			<img src="./static/images/logo.png" style="width: 311px; margin:15px 0;" alt="Demagog.cz">
		</a>
	</div>

	<nav class="large-7 columns">
		<div class="row collapse">
			<ul class="large-4 small-4 columns">
				<li><a href="politici">Politici</a></li>
				<li><a href="statistiky">Přehled výroků</a></li>
				<li><a href="eu">Evropská sekce</a></li>
			</ul>
			<ul class="large-4 small-4 columns">
				<li><a href="o-nas" title="O nás">O nás</a></li>
				<li><a href="jak-hodnotime-metodika" title="Jak hodnotíme?">Jak hodnotíme?</a></li>
				<li><a href="http://overto.demagog.cz">Aplikace <em style="color: #ec912f; font-weight: 600">Ověř to!</em></a></li>
			</ul>
			<ul class="large-4 small-4 columns">
				<li><form action="hladat" method="get" style="height: 36px">
					<input type="text" id="search" name="q" placeholder="Hledat" class="" >
				</form></li>
			</ul>
		</div>
	</nav>
</header>

{% block content %}{% endblock %}

<footer class="row">
	<div class="partners">
		<a title="Newton Media &mdash; Mediálne analýzy a monitoring médií" href="http://newtonmedia.cz/">
			<img src="./static/images/partners/newton-logo-biele.jpg" alt="newton media">
		</a>
		<a title="Nadace Open Society Fund Praha" href="http://www.osf.cz/">
			<img src="./static/images/partners/osf_praha_cz.png" alt="Nadace Open Society Fund Praha">
		</a>
		<a title="Náš stát.cz" href="http://nasstat.cz">
			<img src="./static/images/partners/nas-stat-banner.jpg" alt="Náš stát.cz">
		</a>
		<a title="Jde o Evropu" href="http://europa.eu/citizens-2014">
			<img src="./static/images/partners/jde-o-evropu.png" alt="Jde o Evropu"></a>
		<br>
		<a title="Program Mládež v akci" href="http://mladezvakci.cz">
			<img src="./static/images/partners/mladez-v-akci.jpg" alt="Program Mládež v akci">
		</a>
		<a title="Zastoupení Evropské komise v ČR" href="http://ec.europa.eu/ceskarepublika/index_cs.htm">
			<img src="./static/images/partners/logo_rep_cz_fullcolor.jpg" alt="Zastoupení Evropské komise v ČR">
		</a>
		<a title="Fakulta sociálních studií MU" href="http://www.fss.muni.cz">
			<img src="./static/images/partners/logo_fss.jpg" alt="Fakulta sociálních studií MU">
		</a>
		<a title="Think-tank Evropské hodnoty" href="http://www.evropskehodnoty.cz">
			<img src="./static/images/partners/eh.png" alt="Think-tank Evropské hodnoty">
		</a>
		<a title="Masarykovy debaty" href="http://www.masarykovydebaty.cz">
			<img src="./static/images/partners/masaryk.png" alt="Masarykovy debaty">
		</a>
	</div>

	<p><a href="/kontakty">Kontakty</a> | <a href="/admin">Administrace</a><br> &copy; 2012&mdash;2014 Demagog.cz</p>
</footer>

<script src="./static/js/jquery.js"></script>
<script src="./static/js/scripts.js"></script>
<script src="./static/css/glyphicons/scripts/modernizr.js"></script>
<!-- google analytics code -->
</body>
</html>
