<a href="http://overto.demagog.cz" class="row internal-banner">
  <div class="columns">
    <p><span class="glyphicons glyphiconsExtra check"><i></i></span> <b><u>Ověř To!</u></b> Nacházíte na internetu výroky, jejichž pravdivostí si nejste jistí? Pošlete nám je! <span class="glyphicons circle_arrow_right"><i></i></span></p>
  </div>
</a>
