<article class="row statement">
	<header class="large-2 medium-2 columns speaker">
		<h4><a href="{{ speaker.link }}">
			<div class="photo-wrapper"><img src="http://demagog.cz{{ speaker.photo }}" alt="Petr Fiala"></div>
			<div class="name-wrapper">{{ speaker.name }}</div>
		</a></h4>
	</header>
	<div class="large-8 medium-10 columns" id="11025">
		<p class="statement_text">„Ten návrh ústavně právního výboru má 84 stran, 201 paragrafů, to přece za dvanáct dní nelze úplně dobře jednat.“</p>
		<div class="reasons {#hidden#}">
			<p class="veracity veracity-1 "><span class="glyphicons"><i></i></span> Pravda</p>
			<a class="show_reasons" href="#">zobrazit odůvodnení</a>
			<div class="vyrok_odovodnenie">
			Zmíněný pozměňující&nbsp;<a href="http://www.psp.cz/sqw/text/orig2.sqw?idd=100612&amp;pdf=1" class="ext" target="_blank">návrh služebího zákona</a> (.pdf) má skutečně 201 paragrafů a 83 stran. Z tohoto pohledu je výrok předsedy ODS pravdivý. Zda jej lze za 12 dnů dobře nastudovat, necháme na posouzení čtenáře, soustředíme se pouze na rozsáhlost zmíněného návrhu.</div>
		</div>
	</div>
	<div class="columns"></div>
</article>
