body, html {
	background: $white;
}

body {
	border-top: 5px solid #ec912f;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	margin-top: 1em;
	color: $gray;
}

a {
	color: $red;

	&:hover {
		color: $blue;
	}
}

header.page-header h1 {
	display: none;
}

nav {
	padding-top: 22px;

	li {
		list-style-type: none;
		display: block;
		line-height: 1em;
		margin-bottom: .7em;
	}
	a {
		color: $gray;

		&:hover {
			color: $red;
		}
	}
}

footer {
	padding: 40px 0;
	p, div { text-align: center; }

	.partners img {
		max-height: 100px;
		margin: 0px 30px 50px 0;
	}
}



.pagination {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	margin: 50px 0;

	a {
		padding: 0 10px;
	}

	.current-page {
		background-color: $gray;
		color: $white;
	}
}

.references {
	background: $gray;
	padding-top: 20px;
	margin-top: 40px;

	a { color: $orange; }
	p { color: $white; }

	.photo-wrapper {
		float: left;
		margin-right: 10px;
	}

	h4 {
		margin-bottom: 0;
	}

	.position {
		font-size: 12px;
		height: 50px;
	}
}

.discussion {
	div.uvod, div.uvod * {
		line-height: 25px;
	}
}

.related {
	border-top: 1px solid #aaa;

	div > ul > li {
		list-style-type: none;
	}
}

.speakers-list {
	.columns p {
		text-align: center;
	}

	.photo-wrapper {
		float: none;
		display: block;
		margin: 10px auto;
	}

	a:hover {
		.photo-wrapper {
			-webkit-box-shadow: 0px 0px 2px 1px $red;
			box-shadow: 0px 0px 2px 1px $red;
		}
	}

	.speaker {
		p {
			margin-bottom: 0;
			line-height: 1.3em;
		}
	}
}
